In [33]:
from engine import run1
import pandas as pd

In [34]:
df = pd.read_csv(r'C:\Users\Administrator\WZZ\trader\data\TA_1d.txt',names=["date","time","symbol","open","high","low","close","volume"])
df = df[df["symbol"] == "CZCE.TA 2209"]
df['date'] = pd.to_datetime(df['date']+"-"+df['time'])
df = df.sort_values(by="date")

df["LES"] = True
df["SES"] = True
df["LXS"] = True
df["SXS"] = True
df["LE"] = df['high'].rolling(window=12).max().shift()
df["SE"] = df['low'].rolling(window=8).min().shift()
df["LX"] = df['low'].rolling(window=4).min().shift()
df["SX"] = df['high'].rolling(window=6).max().shift()

In [35]:
run = run1.engine()
run.symbol = "TA"

In [36]:
df1 = run.backtest(df)

In [37]:
df1

                 start                 end symbol  entry  exit  position
0  2021-10-15 15:00:00 2021-10-22 15:00:00     TA   5630  5394         1
1  2021-10-27 15:00:00 2021-12-09 15:00:00     TA   5372  4792        -1
2  2021-12-20 15:00:00 2021-12-22 15:00:00     TA   4670  4808        -1
3  2021-12-23 15:00:00 2022-01-21 15:00:00     TA   4852  5268         1
4  2022-01-25 15:00:00 2022-01-27 15:00:00     TA   5242  5500        -1
5  2022-01-28 15:00:00 2022-02-11 15:00:00     TA   5542  5574         1
6  2022-02-16 15:00:00 2022-02-24 15:00:00     TA   5446  5558        -1
7  2022-02-25 15:00:00 2022-03-11 15:00:00     TA   5800  5924         1
8  2022-03-15 15:00:00 2022-03-22 15:00:00     TA   5782  6100        -1
9  2022-04-15 15:00:00 2022-04-25 15:00:00     TA   6168  6130         1
10 2022-04-26 15:00:00 2022-04-29 15:00:00     TA   5922  6286        -1
11 2022-05-05 15:00:00 2022-05-10 15:00:00     TA   6416  6136         1
12 2022-05-12 15:00:00 2022-05-19 15:00:00     TA   6508  6558         1
13 2022-05-30 15:00:00 2022-06-01 15:00:00     TA   6830  6654         1
14 2022-06-02 15:00:00 2022-06-06 15:00:00     TA   6556  7002        -1
15 2022-06-07 15:00:00 2022-06-14 15:00:00     TA   7150  7270         1
16 2022-06-17 15:00:00 2022-07-22 15:00:00     TA   7002  5668        -1
17 2022-08-05 15:00:00 2022-08-12 15:00:00     TA   5652  5956        -1
18 2022-08-15 15:00:00 2022-08-19 15:00:00     TA   6026  5846         1